.chat-input-placeholder::placeholder {
  color: var(--chat-input-placeholder) !important;
}

.chat-input-placeholder::-webkit-input-placeholder {
  color: var(--chat-input-placeholder) !important;
}

.chat-input-placeholder::-moz-placeholder {
  color: var(--chat-input-placeholder) !important;
  opacity: 1;
}